<ion-view view-title="News Feed">
  <ion-content class="padding">
    <div class="list card" ng-repeat="article in News.articles">

      <div class="item item-avatar">
        <img ng-src="{{ article.authorImg }}">
        <h2>{{ article.author }}</h2>
        <p>{{ article.date | date }}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ article.imgSrc }}">
        <p>
          {{ article.body }}
        </p>
        <p>
          <a href="#" class="subdued">{{ article.likes }} {{article.likeDescription}}</a>
          <a href="#" class="subdued">{{article.comments}} Comments</a>
        </p>
      </div>

    </div>

  </ion-content>
</ion-view>
